#home_body{
    background-color: #FFD460;
    background-image: url('../images/home/home_page.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    font-family: 'Quicksand';
    font-size: large;
}

#search_home:focus{
    outline: none !important;
    box-shadow: none;
}

/* Custom navbar Toggler */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 126, 10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(250, 126, 10);
}

.custom-togglerfocus{
    outline: none !important;
    box-shadow: none;
}

/* Colors */

.brown{
    color: #540C0B!important;
}

.orange_1{
    color: #FA7E0A!important;
}

.orange_2{
    color:#F07F40!important;
}

.light_orange_2{
    color:#FFD460!important;
}

.bg_light_orange_2{
    background-color:#FFF098!important;
}

.bg_orange_1{
    background-color: #FA7E0A;
}

.bg_orange_2{
    background-color: #F07F40;
}

/* Opacity */

.opacity50 {
    opacity: 50%;
}

/* Font Weight */

.bold{
    font-weight: 700!important;
}

